<h2>Weekly Work</h2>
<hr />
<ul>
    <li ng-click="setActive()"><a href="#/week1">Week 1 - Ideal Gases</a></li>
    <li ng-click="setActive()"><a href="#/week2">Week 2 - First Law: Heat and Work</a></li>
    <li ng-click="setActive()"><a href="#/week3">Week 3 - Enthalpy, heat capacities and partial derivatives</a></li>
    <li ng-click="setActive()"><a href="#/week4">Week 4 - The 2nd Law, Entropy and Heat Engines</a></li>
</ul>




<h2>Exams</h2>
<hr />
<ul>
    <li ng-click="setActive()"><a href="#/exam2013">Exam for 2013</a></li>
    <li ng-click="setActive()"><a href="#/exam2012">Exam for 2012</a></li>
</ul>