<h2>Weekly Work</h2>
<hr />
<ul>
    <li style="cursor: pointer;" ng-click="setActive('Week 1')"><a href="#/week1">Week 1 - Ideal Gases</a></li>
    <li style="cursor: pointer;" ng-click="setActive('Week 2')"><a href="#/week2">Week 2 - First Law: Heat and Work</a></li>
    <li style="cursor: pointer;" ng-click="setActive('Week 3')"><a href="#/week3">Week 3 - Enthalpy, heat capacities and partial derivatives</a></li>
</ul>




<h2>Exams</h2>
<hr />
<ul>
    <li style="cursor: pointer;" ng-click="setActive('Exam 2013')"><a href="#/exam2013">Exam for 2013</a></li>
</ul>