<h2>Part A</h2>
<hr />
<div class="question">
    <div class="q">
        <h5><strong>Question 1:</strong></h5>
        <h5>
            <ol type="a">
                <li>Give thermodynamic definitions of the terms <i>temperature</i> and <i>thermal equilibrium</i>. Describe the significance of the zeroth law of thermodynamics.</li>
                <li>Give a statement of the second law of thermodynamics that is applicable to adiabatically isolated systems. Generalise this statement for systems with diathermal boundaries.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>Temperature is that which is the same for two objects in thermal equilibrium. Thermal equilibrium is the state when two objects in thermal contact no longer have spontaneous energy flow. The zeroth law states that temperature is transitive. If you are A and B are in thermal equilibrium, and B and C are in thermal equilibrium, then A and C are in thermal equilibrium.</p>
        </li>
        <li>
           <p>Entropy cannot decrease. If we generalise this to the universe, cannot decrease.</p>
        </li>
    </ol>
</div>

<div class="question">
    <div class="q">
        <h5><strong>Question 2:</strong>
            <ol type="a">
                <li>Starting from the fundamental equation of thermodynamics and treating internal energy as a function of volume and temperature $U=U(T,V)$, derive the following general expression for a change in entropy: $$dS = \frac{C_V}{T} dT + \frac{1}{T} (\pi_T + p) dV$$</li>
                <li>Is it always true that the entropy must increase with volume (at constant temperature)? In your answer, discuss the case of an ideal gas versus that of a real gas.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>So, let us start the the thermodynamic identity and work towards the result we want.</p>
            <p>\begin{eqnarray*}
                dU &=& T dS - P dV \\
                dS &=& \frac{1}{T} dU - \frac{P}{T} dV \\
                &=& \frac{1}{T} \left(\left(\frac{\partial U}{\partial T}\right)_V dT +  \left(\frac{\partial U}{\partial V}\right)_T dV \right)  - \frac{P}{T} dV \\
                &=& \frac{1}{T} \left(C_V dT +  \pi_T dV \right)  - \frac{P}{T} dV \\
                &=& \frac{C_V}{T} dT + \frac{1}{T}(\pi_T + P) dV
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>From the above, we can see that at constant temperature the change in entropy is $dS = \frac{1}{T}(\pi_T + P) dV$. Thus, the only way to get a decrease in entropy is we increase volume is for $\pi_T + P < 0$. However, an ideal gas has $\pi_T = 0, p > 0$, so entropy must always increase. For a real gas though, if attractive forces are dominating we will have $\pi_T < 0$. If that is sufficient to make $\pi_T + P < 0$ then we would get a decrease in entropy on expansion.
            </p>
        </li>
    </ol>
</div>


<div class="question">
    <div class="q">
        <h5><strong>Question 3:</strong>
            <ol type="a">
                <li>An icecube, weighing 25g, is brought out from a freezer (-18 degrees) and left to melt on a kitchen bench at room temperature (25 degrees). Calculate the change in entropy of the ice/water as it comes to thermal equilibrium with the kitchen bench. Take the moral heat capacity of ice to be $C_{p,m} = 38.0\;\mathrm{J/K/mol}$.</li>
                <li>What is the entropy change of the surroundings during this process? Explan how your results in part (a) and (b) are consistent with the second law of thermodynamics.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>So we will have three ways entropy increases in the icecube: heating the ice, melting it, and then heating the water. Note that this exam has another page after the formula sheets which has all the values you need.</p>
            <p>\begin{eqnarray*}
                \Delta S &=& \Delta S_i + \Delta S_m + \Delta S_l \\
                \Delta S &=& n C_P(s) \ln \frac{T_m}{T_i} + \frac{\Delta_l H}{T_m} + n C_P(l) \ln \frac{T_f}{T_m} \\
                \Delta S &=& \frac{25}{18} \left( (38.0 \;\mathrm{J/K/mol}) \cdot \ln \frac{273}{273-18} + \frac{(6008\;\mathrm{J/mol})}{273 \;\mathrm{K}} + (75.29 \;\mathrm{J/K/mol}) \ln \frac{273+25}{273} \right)\\
                \Delta S &=& 43.3 \;\mathrm{J/K}
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>So for the entropy change in the environment, we can consider it to be a reservoir that does not change temperature. As such, $\Delta S = \frac{Q}{T}$.</p>
            <p>\begin{eqnarray*}
                \Delta S &=& \frac{Q}{T} \\
                &=& \frac{n(C_P(s) \Delta T_1 + \Delta_l H + C_P(l) \Delta T_2)}{T} \\
                &=& \frac{-(\frac{25}{18} \;\mathrm{mol}) \cdot ((38.0 \;\mathrm{J/K/mol})\cdot(18 \;\mathrm{K}) + (6008 \;\mathrm{J/mol}) + (75.29 \;\mathrm{J/K/mol})\cdot(25 \;\mathrm{K})  )}{273+25 \;\mathrm{K}} \\
                &=& -39.96 \;\mathrm{J/K}
                \end{eqnarray*}</p>
            <p>Well, second law of thermodynamics says if you find the entropy of the universe decrease, you've screwed something up. Luckily, we find in this case that the total entropy change of the universe is $\Delta S = 43.3 - 40 = 3.3\;\mathrm{J/K}$ which is still an increase. Which is good.</p>
        </li>
    </ol>
</div>


<div class="question">
    <div class="q">
        <h5><strong>Question 4:</strong> Consider the process of photosynthesis, the process by which a planet uses the energy of sunlight to turn carbon dioxide and water into glucose (with oxygen as a byproduct), according to the reaction: $$6CO_2(g) + 6H_2O(l) \rightarrow C_6H_{12}O_6(s) + 6O_2(g)$$.
            <ol type="a">
                <li>Show that this reaction is not spontaneous, and determine the minimum amount of work the plant myst do in order to assemble 1 mole of glucose.</li>
                <li>Calculate the difference in entropy between the products and the reactants. Why must this reaction be exothermic?</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>For a reaction to be spontaneous, we have to have a decrease in Gibbs free energy. We can find the change in Gibbs free energy by simply subtracting the consistuents of the reaction. From Schoeder, we have that:</p>
            <table class="table table-striped table-bordered table-hover table-condensed" border="1" style="width:500px; margin: auto; margin-bottom: 20px;">
                <tr>
                    <th>Name</th>
                    <th>$\Delta_H$ (kJ)</th>
                    <th>$\Delta_G$ (kJ)</th>
                    <th>$S$ (J/K)</th>
                </tr>
                <tr>
                    <td>Glucose</td>
                    <td>-1273</td>
                    <td>-910</td>
                    <td>212</td>
                </tr>
                <tr>
                    <td>Oxygen</td>
                    <td>0</td>
                    <td>0</td>
                    <td>205.14</td>
                </tr>
                <tr>
                    <td>Carbon Dioxide</td>
                    <td>-393.51</td>
                    <td>-394.36</td>
                    <td>213.73</td>
                </tr>
                <tr>
                    <td>Water</td>
                    <td>-285.83</td>
                    <td>-237.13</td>
                    <td>188.83</td>
                </tr>
            </table>
            <p>Now, to actually subtract these values:</p>
            <p>\begin{eqnarray*}
                \Delta G &=& 6 \Delta_g CO_2 + 6 \Delta_g H_2O - (\Delta_g C_6H_{12}O_6(s) +  6 \Delta_g O_2) \\
                &=& [6(394.36+237.13) - 910 ] \;\mathrm{kJ/mol}\\
                &=& 2879 \;\mathrm{kJ/mol}
                \end{eqnarray*}</p>
            <p>Thus, the minimum amount of work that has to be done to make one mole of glucose is to supply approximately 2880 kJ of energy to the reaction.</p>
        </li>
        <li>
            <p>Right, now subtracting entropy instead of Gibbs free energy:</p>
            <p>\begin{eqnarray*}
                \Delta S &=& 6 \Delta_s CO_2 + 6 \Delta_s H_2O - (\Delta_s C_6H_{12}O_6(s) +  6 \Delta_s O_2) \\
                &=& [6\cdot(-188.3-213.73+205.14) + 212] \;\mathrm{kJ/mol}\\
                &=& -972.52 \;\mathrm{kJ/mol}
                \end{eqnarray*}</p>
            <p>Entropy decreases with this reaction. In order for the second law not to be broken, the entropy external to the system must increase at least as much as the entropy of the reaction decreased. The way to increase the entropy of the external system is if the reaction gives off heat.</p>
        </li>
    </ol>
</div>




<h2>Part B</h2>
<hr />


<div class="question">
    <div class="q">
        <h5><strong>Question 5:</strong> In lectures a video was shown of a large steel barrel being crushed by air pressure. First, a small amount of liquid water was poured into the barrel. This water was then heated until it was boiling and steam started to escape from the barrel. The barrel was then sealed and a large quantity of ice was placed on top of the barrel. The ice cooled the contents of the barrel. A few minutes later the barrel collapsed spontaneously. Assume that when the barrel was sealed, it contained pure saturated water vapour (no air) at 1 bar. The volume of the barrel is 0.21 cubic meters.
            <ol type="a">
                <li>On a clearly labeled T-V phase diagram, which includes the liquid-vapour envelope, sketch the processes describing the changes in the state of the water (liquid and vapour) inside the barrel.</li>
                <li>Assume that the temperature inside the barrel was 40 degrees when it was crushed. Use the attached tables to estimate the pressure inside the barrel when it was crushed by the air pressure.</li>
                <li>Consider a similar barrel which contains just air and is unsealed and has a diameter of 1 metre. Estimate how much weight must be placed on top of the barrel to crush it.</li>
                <li>Use the tables to estimate the mass of the steam inside the barrel when it is sealed. Does your answer seam reasonable?</li>
                <li>From the changes in the specific entropy and in the volume associated with the liquid-vapour transition at atmospheric pressure, estimate how much much the vapour pressure vaires with temperature.</li>
            </ol>
        </h5>
    </div>
    <p>Right, that was a long question to type out.</p>
    <ol type="a">
        <li>
            <p>So if draw a P-T diagram, we should note i) the starting point, ii) when the water started to boil, iii) just as the water all boiled, iv) just before barrel is crushed to Davy Jones' locker.</p>
            <img src="images/pt.png">
        </li>
        <li>
            <p>40 degrees corresponds to a pressure of 0.0738 bar. Given it started at 1 bar, it thus takes 0.9262 bar of pressure to crush the barrel.</p>
        </li>
        <li>
            <p>So we need a pressure of 0.9262 bar over an area of 1m diameter.</p>
            <p>\begin{eqnarray*}
                F &=& PA \\
                &=& (0.9262 \times 10^5 \;\mathrm{N/m}^2)\cdot(\pi 0.5^2 \;\mathrm{m}^2) \\
                &=& 73.75 \;\mathrm{kN} \\
                &=& 7518 \;\mathrm{kg}
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>So we need to use the specific volume of steam for this question. From the table, we know that for steam at 100 degrees, we have $v_g = 1.673 \;\mathrm{m}^3/\mathrm{kg}$</p>
            <p>\begin{eqnarray*}
                m_g &=& \frac{V}{v_g} \\
                &=& \frac{0.21\;\mathrm{m}^3}{1.673 \;\mathrm{m}^3/\mathrm{kg}} \\
                &=& 125.5\;\mathrm{g}
                \end{eqnarray*}</p>
            <p>Yeah that seems pretty reasonable. Its hot and gaseous, if I got 5kg I would be wondering how on earth I managed to vapourise lead.</p>
        </li>
        <li>
            <p>This question is worded horrifically. What I got from it was entropy and phase transition, which means almost certainly to use the Clausius-Clapeyron relation: $\frac{dP}{dT} = \frac{\Delta S}{\Delta V}$. So what we want is to find $\frac{dP}{dT}$ by using points on the table to server as a linear approximation.</p>
        </li>
    </ol>
</div>

<div class="question">
    <div class="q">
        <h5><strong>Question 6:</strong> This question considers the thermodynamics of the metal-superconductor phase transition. The order parameter for this phase transition can be denoted by a complex number $\Psi$, which is related to the quantum mechanical wave function of the pairs of electrons that form in the superconducting phase. In the absence of a magnetic field the Ginzburg-Landau form of the Gibbs free energy can be written in the form $$G(T,P,\Psi) = G_n(T,P) + a(T-T_\lambda)\Psi\cdot\Psi^* + b(\Psi\cdot\Psi^*)^2,$$ where $G_n(T,P)$ denotes the Gibbs free energy of the normal metalic state, $a$ and $b$ are positive constants that are independent of temperature and $\Psi^*$ denotes the complex conjugate to $\Psi$.
            <ol type="a">
                <li>Sketched the free energy as a function of $\Psi$.</li>
                <li>Use this Ginzburg-Landau free energy to derive an expression for the temperature dependence of the order parameter. Evaluate the critical exponent $\beta$ defnied by $$ \left| \Psi(T) \right| \sim (T_c - T)^\beta  \;\;\;\;\;\; T \rightarrow T_c^-$$</li>
                <li>Evaluate the condensation energy of the superconducting slate: how much lower its Gibbs free energy is than the normal metallic state. Plot this as a function of temperate.</li>
                <li>The most fundamental property of superconductors is that they expel magnetic flux. This means that in an external magnetic field $H$ there is an energy cost per unit volume of $H^2/2\mu_0$ where $\mu_0 = 4\pi \times 10^{-7} \;\mathrm{N/A}^2$. Use this fact together with your answer to (c) to evaluate H_c(T), the upper critical field above which superconductivity is destroyed at a temperature $T$.</li>
                <li>Sketch the phase diagram of a type I superconductor as a function of temperature and external magnetic field $H$. Denote the critical point on the phase diagram.</li>
            </ol>
        </h5>
    </div>
    <p>Joel has stated in the Facebook group that the superconductor section of the past exams will not be on our exams. I recommend this question is skipped.</p>
    <ol type="a">
        <li>
            <p>Only doing this part. The others, I am not sure how to do. The two plots represent $T>T_\lambda$ and $T< T_\lambda$ respectively.</p>
            <img class="wide" src="images/gl.png">
        </li>
    </ol>
</div>

<div class="question">
    <div class="q">
        <h5><strong>Question 7:</strong> The figure below shows the pressure-temperature phase diagram of the protein Ribonuclease A at a pH of 2.0. There are two phases, the native state and the denatured state, where the protein unfolds and loses its function.
            <img src="images/2011q7.png">
            <ol type="a">
                <li>Write down the relationship between the equilibrium constant K for the reaction and the Gibbs free energy change of denaturation, $\Delta G$.</li>
                <li>Find an expression for $f$ the fraction of protein that is denatured: $$f = \frac{\text{[Denatured]}}{\text{[Denatured]}+\text{[Native]}}$$ in terms of the temperature and $\Delta G$.</li>
                <li>Assuming that the change in enthalpy and in entropy associated with the denaturation do not vary with temperature, sketch the temperature dependence of $f$.</li>
                <li>Show that the variation of $K$ with pressure is related to the volume change by $$\frac{\partial \ln K}{\partial P} = - \frac{\Delta V}{RT}$$</li>
                <li>Write down the Clausius-Clapeyron equation which describes the slope of the phase boundary. What can you conclude about the volume and entropy change at different temperatures and pressure?</li>
            </ol>
        </h5>
    </div>
    <p>I don't like this question.</p>
    <ol type="a">
        <li>
            <p>Right, so just copying down that equation for free marks: $K \equiv \exp\left(\frac{-\Delta G^\circ}{RT}\right)$</p>
        </li>
        <li>
            <p>This requires us to realise that $K$ - the equilibrium constant - is simply the ratio (at equilibrium) of the the amount in the final state over the amount in the original: $$K = \frac{[\text{Denatured}]}{[\text{Native}]}$$</p>
            <p>We can thus just rearrange $f$ to be something in terms of $K$:</p>
            <p>\begin{eqnarray*}
                f &=& \frac{\text{[Denatured]}}{\text{[Denatured]}+\text{[Native]}} \\
                &=& \frac{\frac{[\text{Denatured}]}{[\text{Native}]}}{\frac{[\text{Denatured}]}{[\text{Native}]}+1} \\
                &=& \frac{K}{K+1}
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>Right, so the question asks us to find $\frac{df}{dT}$. To do this, we should first work out $\frac{dK}{dT}$. And to do that, we should work out $\frac{d}{dT}\left(\frac{\Delta G^\circ}{RT}\right)$. And to do that, we should first figure out $\frac{d}{dT}\Delta G^\circ$. Eugh. Note in the maths below, I cancel out the enthalpy term and take the entropy term outside due to them not varying with $T$, as stated in the question.</p>
            <p>\begin{eqnarray*}
                \frac{d}{dT} \Delta G &=& \frac{d}{dT} \left(\Delta H - \Delta S \Delta T \right) \\
                \frac{d}{dT} \Delta G &=& \frac{d\Delta H}{dT} - \frac{d\Delta S \Delta T}{dT}  \\
                \frac{d}{dT} \Delta G &=& 0 - \Delta S \frac{d \Delta T}{dT}  \\
                \frac{d}{dT} \Delta G &=& - \Delta S  \\
                \end{eqnarray*}</p>
<!--            <p>To find $\frac{d}{dT}\left(\frac{\Delta G^\circ}{RT}\right)$:</p>
            <p>\begin{eqnarray*}
                \frac{d}{dT}\left(\frac{\Delta G^\circ}{RT}\right) &=& \frac{1}{R} \frac{T \Delta G'^\circ - T' \Delta G^\circ}{T^2} \\
                \frac{d}{dT}\left(\frac{\Delta G^\circ}{RT}\right) &=&  \frac{-T \Delta S - \Delta G^\circ}{RT^2} \\
                \end{eqnarray*}</p>
            <p>Finally, as $K$ is just an exponential term of the negation of the expression, we know that</p>
            <p>\begin{eqnarray*}
                \frac{d}{dT} K &=& \frac{d}{dT} \exp\left(\frac{-\Delta G^\circ}{RT}\right) \\
                &=&  \frac{T \Delta S + \Delta G^\circ}{RT^2} \exp\left(\frac{-\Delta G^\circ}{RT}\right)
                \end{eqnarray*}</p>-->
            <p>So this means as $T$ increases, $\Delta G$ decreases and $RT$ increases. Thus, as $T$ grows larger, $\frac{\Delta G}{RT}$ becomes smaller. As  $K \equiv \exp\left(\frac{-\Delta G^\circ}{RT}\right)$, we can see that $K$ approaches $\exp(0) = 1$. So $f \rightarrow \frac{1}{2}$ as $T\rightarrow \infty$. So what we are probably looking at is exponential decay to a value of 0.5 from 1.</p>
        </li>
        <li>
            <p>Right, so let's just work from the definition of $K$.</p>
            <p>\begin{eqnarray*}
                K &=& \exp\left(\frac{-\Delta G^\circ}{RT}\right) \\
                \ln K &=& \frac{-\Delta G^\circ}{RT} \\
                \frac{\partial}{\partial P} \ln K &=& \frac{\partial}{\partial P}  \frac{-\Delta G^\circ}{RT} \\
                &=& \frac{-1}{RT} \frac{\partial \Delta G^\circ}{\partial P} \\
                &=& \frac{-1}{RT} \frac{ \left(\partial \Delta U + \partial \Delta P \Delta V - \partial \Delta S \Delta T \right)}{\partial P} \\
                &=& \frac{-\Delta V}{RT}
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>So, the Clausius-Clapeyron relation gives $\frac{dP}{dT} = \frac{\Delta S}{\Delta V}$. At around $10^\circ\text{C}$, we can see that $\frac{dP}{dT} \approx 0$, so that means that at that turning point, we would have to have no entropy change. We can see that around this point the gradient changes sign, indicative that either the volume continues growing and we have minimum in entropy, or that the entropy continues to increase, but at that point the volume change reverses (like ice I suppose). Another thing to note is that around $50^\circ\text{C}$ we have a steep negative slope, which very likely means that $\Delta V \rightarrow 0$.</p>
        </li>
    </ol>
</div>

<!--
<div class="question">
<div class="q">
<h5><strong>Question 2:</strong> QQQ
    <ol type="a">
        <li></li>
    </ol>
</h5>
</div>
    <ol type="a">
        <li>
            <p></p>
        </li>
    </ol>
</div>
-->
<!--
    <p>\begin{eqnarray*}
    m_f &=& V \rho - m_p \\
    &=& \frac{4}{3}\pi r^3 \rho - m_p \\
    &=& \frac{4}{3} \pi (7.5\, \mathrm{m})^3 \times 1.16\, \mathrm{kg/m}^3 - 500\,\mathrm{kg} \\
    &=& 1550 \,\mathrm{kg}
    \end{eqnarray*}</p>
    -->