<h2>Part A</h2>
<hr />
<div class="question">
    <div class="q">
        <h5><strong>Question 1:</strong></h5>
        <h5>
            <ol type="a">
                <li>Give a clear and precise statement of the zeroth law of thermodynamics. Use it to explain what temperature is.</li>
                <li>Explain what is meant by 'direction of spontaneous change'. Give a concise statement of the second law of thermodynamics, and use it to give a criterion for spontaneous change. What happens to distribution of energy during a spontaneous change?</li>
                <li>Give some consequences of the second law for the transformation of energy. In particular, explain why the second law of thermodynamics implies that all reversible heat engines operating between the same hot and hold reservoirs must have the same efficiency, regardless of construction.</li>
                <li>Give a clear, concise and pricese statement of the third law of thermodynamics. What does this law imply about the heat capacity $C_p$ of a substance as $T\rightarrow 0$?</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>Thermal equilibrium is transitive. Temperature is a value which is the same for all objects in thermal equilibrium.</p>
        </li>
        <li>
            <p>Direction of spontaneous change is the direction the reaction/process would take if simply left alone. For only thermal situations, this corresponds to an increase in entropy, however a more general statement when taking other forms of energy into account is that the direction of spontaneity is to minimise the Gibbs free energy. I am not sure what is meant about the distribution of energy, though I would probably say that it tends to become disordered. Ie kinetic energy - synchronised motion of particles - will tend to become thermal energy (which is randomised motion of particles).</p>
        </li>
        <li>
            <p>The second law says that entropy does not decrease. As such if entropy increases, we should see increase in energy dispersion. In terms of reversible heat engines, reversible implies there is no generation of entropy. The reason the second law states all engines have the same maximal efficiency at a given temperature difference is because maximal efficiency occurs when there is no entropy generated, and thus the ratio of $Q_H$ to $Q_C$ must be fixed to ensure that this is true. The left over energy is what we can use as work. Going more in depth than I need to, the efficiency of a heat engine can be given by</p>
            <p>\begin{eqnarray*}
                e &=& \frac{W}{Q_H} \\
                &=& \frac{Q_H - Q_C}{Q_H} \\
                &=& 1 - \frac{Q_C}{Q_H} \\
                \end{eqnarray*}</p>
            <p>For there to be no new entropy created, we have to be receiving heat flow at the same temperature as the reservoir.</p>
            <p>\begin{eqnarray*}
                \Delta S &=& 0 \\
                \Delta S_H &=& - \Delta S_C \\
                \frac{Q_H}{T_H} &=& - \frac{-Q_C}{T_C} \\
                \frac{T_H}{T_C} &=& \frac{Q_C}{Q_H} \\
                \end{eqnarray*}</p>
            <p>Putting these together gives $e = 1 - \frac{T_H}{T_C}$.</p>
        </li>
        <li>
            <p>The third law states that an objects entropy approaches zero when its temperature approaches absolute zero. As to what this says about the constant pressure heat capacity of an object, well, we know that $S(T_f) = S(T_i) + \int \frac{C_p dT}{T}$. Taking $T_i = 0$, we see that we get $$S(T_f) = \int_0^{T_f} \frac{C_p dT}{T}$$ Now, this has to approach zero as $T_f$ approaches zero. Unfortunately, we can see that as $T$ is on the denominator, it grows as it approaches zero. In order for the third law to be correct, the numerator must shrink even faster, and so $C_p \rightarrow 0$.</p>
        </li>
    </ol>
</div>

<div class="question">
    <div class="q">
        <h5><strong>Question 2:</strong>
            <ol type="a">
                <li>Prove that the pressure and volume of an ideal gas undergoing reversible adiabatic expansion obey the expression $pV^\gamma$, where $\gamma \equiv \frac{C_p}{C_V}$.</li>
                <li>Sketch the adiabats and isotherms of an ideal gas on a $p-V$ diagram. Give a physical explanation for the difference between the two types of curves.</li>
                <li>You are pumping up your bicycle tire with a hand pump: air is drawn into a steel cylinder at room temperature and atmospheric pressure. A piston compresses the air rapidly. The walls are neither adiabatic nor diathermal but somewhere in between. As a result, the cylinder feels hot to the touch. If the system is defined as the gas in the cylinder, and the process under consideration is a single in-stroke of the piston, which statements, if any, are true?
                    <ol>
                        <li>The system has acquired heat</li>
                        <li>Positive work has been done by the system</li>
                        <li>The internal energy of the system has increased.</li>
                    </ol>
                </li>
                <li>In a deisel engine, atmospheric air is quickly compressed to about 1/20 of its original volume. Estimate the temperature of the air after compression, and suggest why a Diesel engine does not require spark plugs.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>Okay, so this is just a long maths question. We will need to use the ideal gas law, equipartition theorem, thermodynamic identity for $dU$ and the fact that $C_P = nR + C_V$. So, starting with the identity, let us begin by using $dS = 0$.</p>
            <p>\begin{eqnarray*}
                dU &=& T dS - P dV \\
                \frac{1}{2} nR dT &=& - P dV \\
                C_V dT &=& -nRT \frac{dV}{V} \\
                C_V \int \frac{dT}{T} &=& -nR \int \frac{dV}{V} \\
                \ln \left(\frac{T_f}{T_i}\right)^{C_V} &=& \ln \left( \frac{V_i}{V_f} \right)^{nR} \\
                \left(\frac{T_f}{T_i}\right) &=& \left( \frac{V_i}{V_f} \right)^{nR/C_v} \\
                \left(\frac{P_f V_f}{P_i V_i}\right) &=& \left( \frac{V_i}{V_f} \right)^{nR/C_v} \\
                \left(\frac{P_f}{P_i}\right) &=& \left( \frac{V_i}{V_f} \right)^{nR/C_v} \left(\frac{V_i}{V_f}\right) \\
                \left(\frac{P_f}{P_i}\right) &=& \left( \frac{V_i}{V_f} \right)^{(nR + C_V)/C_V} \\
                \left(\frac{P_f}{P_i}\right) &=& \left( \frac{V_i}{V_f} \right)^{(C_P)/C_V} \\
                P_f V_f^{C_P/C_V} &=& P_i V_i^{C_P/C_V} \\
                P_f V_f^\gamma &=& P_i V_i^\gamma \\
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>Right, so thanks to Wikipedia for this image.</p>
            <img style="width: 400px;" src="images/ai.png">
            <p>As for a physical explanation, an isotherm keeps constant temperature, so so $PV$ is constant. An adiabat can change temperature, as the only stipulation is that $Q=0$. In the diagram above, from left to right would correspond to quickly pulling out a piston so that the volume increases. The pressure drops, and so does the temperature.</p>
        </li>
        <li>
            <ol>
                <li>The process is adiabatic. The system does not acquire heat.</li>
                <li>The piston compresses air rapidly, so $dV < 0$. Given $W = - P dV$, this means the work done <strong>on</strong> the system is positive. As positive work is done on the system, the work done <strong>by</strong> the system is negative.</li>
                <li>Given that $\Delta U = Q + W$, $Q = 0$ and $W > 0$, this seems like a sensible conclusion.</li>
            </ol>
        </li>
        <li>
            <p>Right, so we can use $VT^c = \text{const}$, with $c = C_{vm}/R$, where for air $f=5$ such that $C_v = \frac{5}{2} nR$, thus $c = \frac{5}{2}$. Starting with $T = 300\;\mathrm{K}$,</p>
            <p>\begin{eqnarray*}
                T_f &=& T_i \left(\frac{V_i}{V_f}\right)^{1/c} \\
                &=& (300 \;\mathrm{K}) \cdot \left(20\right)^{2/5} \\
                &=& 994\;\mathrm{K}
                \end{eqnarray*}</p>
            <p>Spontaneous combustion achieved. Next stop... the moon.</p>
        </li>
    </ol>
</div>

<div class="question">
    <div class="q">
        <h5><strong>Question 3:</strong>
            <ol type="a">
                <li>The efficiency of a heat engine is defined as $\epsilon \equiv \frac{|W|}{Q_h}$, where $Q_h$ is the heat absorbed and $W$ is the work performed during one cycle. Prove that the maximum possible efficiency is $\epsilon = 1 - \frac{T_c}{T_h}$.</li>
                <li>The cycle involved in the operation of an internal combustion engine is called the Otto cycle. Air can be considered to be the working substance and can be assumed to be an ideal gas. The cycle consists of the following steps:
                    <ol>
                        <li>reversible adiabatic compression from A to B</li>
                        <li>reversible constant volume pressure increase from B to C due to the combustion of a small amount of fuel</li>
                        <li>reversible adiabatic expansion from C to D</li>
                        <li>reversible and constant volume pressure decrease back to A.</li>
                    </ol>
                    Sketch the $p-V$ diagram for the cycle, and comment on the qualitative difference between the work done by an Otto cycle and that done by a Carnot cycle operating between the same maximum and mimimum volumes.
                </li>
                <li>Determine the change in entropy of the gas for each step of the Otto cycle and sketch a $T-S$ diagram. What features of the diagram indicate that the efficiency will be less than the Carnot efficiency?</li>
                <li>Prove that the efficiency of the Otto cylce is given by $$\epsilon = 1 - \left(\frac{V_{\text{min}}}{V_{\text{max}}}\right)^{\gamma - 1}$$ where $\gamma \equiv C_p/C_V$. Give a numerical estimate of the efficiency, assuming a compression ratio of 10.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>Maximum possible efficiency would occur when we do not have to waste energy dumping out entropy into the cold reservoir, so we have a stipulation that $dS = 0$. From this, we know that the entropy gained in the heating phase should be lost totally in the cooling phase. Also, to not generate more entropy when looking at the whole universe, we should ensure there is no temperature difference between the system and the reservoirs when there is heat flowing. Also, yes, this is just Q1 all over again.</p>
            <p>\begin{eqnarray*}
                dS &=& 0 \\
                dS_h &=& - dS_c \\
                \frac{Q_h}{T_h} &=& - \frac{Q_c}{T_c} \\
                \frac{Q_c}{Q_h} &=& - \frac{T_h}{T_c}
                \end{eqnarray*}</p>
            <p>The efficiency of an engine can be written as </p>
            <p>\begin{eqnarray*}
                \epsilon &=& \frac{|W|}{Q_h} \\
                &=& \frac{|Q_h - Q_c|}{Q_h} \\
                &=& 1 - \frac{|Q_c|}{Q_h} \\
                &=& 1 - \frac{T_h}{T_c}
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>The Otto cycle courtesy of the internet. In one of the other pages I've got an Otto cycle I made myself, but this one has colour!</p>
            <img style="width: 400px;" src="images/otto2.png">
            <p>Qualitatively, the Otto cycle has constant volume expansion where the Carnot cycle has an adiabat, and adiabatic expansion where the carnot cycle has isothermal expansion. However, as the Carnot cycle is horrible inefficient, the Otto cycle generates a lot more work (has more area inside the graph).</p>
        </li>
        <li>
            <p>Okay, so for each step, find the entropy.</p>
            <ol>
                <li>It is reversible and adiabatic, so $\Delta S = 0$.</li>
                <li>Pressure increase is due to an inflow of heat from the igniting gas. $\Delta S = \int \frac{Q}{T} = C_v \ln\frac{T_C}{T_B}$</li>
                <li>It is reversible and adiabatic, so $\Delta S = 0$.</li>
                <li>Pressure decrease is due to an outflow of heat via radiator cooling. $\Delta S = \int \frac{Q}{T} = C_v \ln\frac{T_A}{T_D}$</li>
            </ol>
            <p>For the T-S diagram, it looks like below. The reason this is less efficient than a Carnot diagram is because you are generating entropy. A Carnot diagram will have isotherms (horizontal lines).</p>
            <img style="width: 400px;" src="images/otto3.png">
        </li>
        <li>
            <p>Right, so let's start with the definition of efficiency: $\epsilon = 1 - \frac{Q_c}{Q_h}$. We can then write $Q$ in terms of the temperature change, and determine the temperature change using the adiabatic expansion equations.</p>
            <p>\begin{eqnarray*}
                \epsilon &=& 1 - \frac{Q_c}{Q_h} \\
                &=& 1 - \frac{C_V \Delta T_{CB}}{C_V \Delta T_{AD}} \\
                &=& 1 - \frac{T_C - T_B}{T_A - T_D} \\
                \end{eqnarray*}</p>
            <p>Applying the adiabatic expansion formulas:</p>
            <p>\begin{eqnarray*}
                T_A^c V_{\text{min}} = T_B^c V_{\text{max}} &\rightarrow& T_B = T_A \left(\frac{V_{\text{min}}}{V_{\text{max}}}\right)^{1/c} \\
                T_C^c V_{\text{max}} = T_D^c V_{\text{min}} &\rightarrow& T_C = T_D \left(\frac{V_{\text{min}}}{V_{\text{max}}}\right)^{1/c} \\
                \end{eqnarray*}</p>
            <p>We can sub those values for $T_C$ and $T_B$</p>
            <p>\begin{eqnarray*}
                \epsilon &=& 1 - \frac{T_C - T_B}{T_A - T_D} \\
                \epsilon &=& 1 -  \frac{T_A - T_D}{T_A - T_D} \left(\frac{V_{\text{min}}}{V_{\text{max}}}\right)^{1/c}\\
                \epsilon &=& 1 -  \left(\frac{V_{\text{min}}}{V_{\text{max}}}\right)^{1/c}\\
                \end{eqnarray*}</p>
            <p>Looking at $c$ and $\gamma$ now</p>
            <p>\begin{eqnarray*}
                \gamma - 1 &=& \frac{C_{pm}}{C_{vm}} \\
                &=& \frac{C_{pm} - C_{vm}}{C_{vm}} \\
                &=& \frac{R}{C_{vm}} \\
                &=& \frac{1}{c}
                \end{eqnarray*}</p>
            <p>Right, almost there. Just got to combine the last two steps, we get $$\epsilon = 1 -  \left(\frac{V_{\text{min}}}{V_{\text{max}}}\right)^{\gamma - 1}$$ As for a numerical estimate, given air has $f = 5$, using the equipartition theorem, we have $C_{vm} = \frac{1}{n} \frac{dU}{dT} = \frac{5}{2}R$. Thus $\frac{1}{c} = \frac{R}{5R/2} = \frac{2}{5}$. So this means $$\epsilon = 1 - 0.1^{2/5} = 0.6$$</p>
        </li>
    </ol>
</div>

<div class="question">
    <div class="q">
        <h5><strong>Question 4:</strong> This question considers the thermodynamics of the metal-superconductor phase transition. In general for a magnetic system the Gibbs free energy $G$ can be written as a function of the temperature $T$ and external magnetic field $H$. THe total magnetic field $B$ is given by $$B = \mu(H+M)$$ where we assume all the vectors point in the same direction, $M$ is the magnetisation per uni volume, and $\mu_0$ is the permeability of free space. The thermodynamic identity $$dG = -S dT - \mu_0 M dH$$ holds where $S$ is the entropy.
            <ol type="a">
                <li>Sketch the phase diagram of a type I superconductor as a function of temperature and external magnetic field.</li>
                <li>Derive the Clausius-Clapeyron relation $$\frac{dH_c(T)}{dT} = - \frac{S_n - S_s}{\mu(M_n - M_s)}$$ which describes the slope of the phase boundary where the subscripts $s$ and $n$ denote values in the superconducting and normal metal phases, respectively.</li>
                <li>The superconducting state displays perfect diamagnetism $(B=0)$ due to the Meissner effect. The normal metal phase has a negligible magnetisation compared to the superconducting phase. Show that the latent heat per unit volume is given by $$l = -\mu_0 T H_c \frac{dH_c}{dT}$$</li>
                <li>Show that when the transition occurs at zero field there is a discontinuity in the specific heat capacity (per unit volume) given by $$c_s - c_n = -\mu_0 T_c \left(\frac{dH_c}{dT}\right)^2$$</li>
                <li>Denote the critical point on the phase diaram. What is the slope of the phase boundary at zero temperature. Why does it have this value?</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>Okay, so the phase boundary exists when $dG = 0$, which means $S dT = -\mu_0 M dH$. Rerranging this gives $\frac{dT}{dH} = \frac{-\mu_0 M}{S}$. If we assume all variables independent of $H$ (which is almost certainly wrong), we can see that we would get a straight line with gradient $\frac{-\mu_0 M}{S}$ as our plot. This isn't too inaccurate: a real superconductor has it a curved line, not straight, but in the same section of the plot.</p>
            <img style="width: 400px;" src="images/super.png">
        </li>
        <li>
            <p>This is essentially the same question as above. But here is the math in full.</p>
            <p>\begin{eqnarray*}
                dG &=& - S dT - \mu_0 M dH \\
                0 &=& - S dT - \mu_0 M dH \\
                \mu_0 M dH &=& - S dT \\
                \frac{dH}{dT} &=& - \frac{S}{\mu_0 M}
                \end{eqnarray*}</p>
            <p>Where the $S$ and $M$ represent the changes over the phase boundary. If this isn't obvious, realise what I really should have done to not take shortcuts its say $G_n = G_s$, and then when I collected terms $S$ would have been $S_n - S_s$. Anyway, to write this out:</p>
            <p>\begin{eqnarray*}
                \frac{dH}{dT} &=& - \frac{\Delta S}{\mu_0 \Delta M} \\
                &=& - \frac{S_n - S_s}{\mu_0 (M_n - M_s)}
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>No idea. Waiting on Joel's feedback.</p>
        </li>
    </ol>
</div>




<div class="question">
    <div class="q">
        <h5><strong>Question 5:</strong>
            <ol type="a">
                <li>What are some of the properties of a superfluid that distinguish it from a normal fluid?</li>
                <li>Consider two regions of superfluid connected by a superleak, through which normal fluid cannot travel. From thermodynamic consideration show that it is possible for a temperature difference $\Delta T$ and a pressure difference $\Delta P$ to exist between the two regions provided $$\frac{\Delta P}{\Delta t} = \frac{S}{V}$$ where $S/V$ is the entropy per unit volume of the superfluid. Explain the relevance of this equation to the fountain effect that occurs in superfluid helium.</li>
                <li>Sketch the temperature dependence of the specific heat capacity of liquie $^4$He near the superfluid transition temperature $T_\lambda$.</li>
                <li>Explain how you would replot the experimental data you sketched in (c) to determine the critical exponent $\alpha$ associated with the temperature dependence of the specific heat capacity.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p></p>
        </li>
    </ol>
</div>


<div class="question">
    <div class="q">
        <h5><strong>Question 6:</strong> Iron undergoes a continuous phase transition from a ferromagnet to a paramagnet at the Curie temperature, $T_c = 1043 \;\mathrm{K}$.
            <ol type="a">
                <li>Sketch typical arrangements of the magnetic dipole moments of the iron atoms avoce and below the transition temperature $T_c$.</li>
                <li>Let $\vec{M}$ denote the average magnetisation for a system at constant pressure $P$ and temperature $T$. Explain why $\vec{M}$ is a suitable order parameter for the paramagnet-ferromagnet transition.</li>
                <li>The Landau form of the Gibbs free energy can be written in the form $$G(T,P,\vec{M}) = a(T- T_c)\vec{M}\cdot\vec{M} + b(\vec{M}\cdot\vec{M})^2$$ where $a$ and $b$ are positive constants that are independent of temperature. Sketch the free energy as a function of $M \equiv \sqrt{\vec{M}\cdot\vec{M}}$ for temperatures both greater and less than $T_c$.</li>
                <li>Use this Landau free energy to derive an expression for the temperature dependence of the order parameter. What value does the critical exponent $\beta$ defined by $$M(T) \sim (T_c - T)^\beta \;\;\;\;\; T \rightarrow T_c^-$$ have?</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>Thank you to the power of google-foo.</p>
            <img src="images/mag.png" class="wide">
        </li>
        <li>
            <p>Because the magnetisation is a continuous variable distinguishing between the ferromagentic state (effectively zero magnetisation) and the paramagnetic state (up to complete magnetisation).</p>
        </li>
        <li>
            <p>Recyling this image. Above $T_c$ and less than $T_c$ respectively.</p>
            <img src="images/gl.png" class="wide">
        </li>
        <li>
            <p>As we are looking at when $T \rightarrow T_c$, we are looking at the phase boundary, such that $\frac{dG}{dM} = 0$.</p>
            <p>\begin{eqnarray*}
                \frac{dG}{dM} &=& \frac{d}{dM} \left( a(T-T_c)M^2 + bM^4 \right) \\
                &=& 2a(T-T_c)M + 4bM^3 \\
                0 &=& M (2a(T-T_c) + 4bM^2) \\
                2a(T-T_c) + 4bM^2 &=& 0 \\
                M^2 &=& \frac{2a}{4b} (T_c - T) \\
                M &=& \left( \frac{a}{2b} (T_c _ T) \right)^{1/2}
                \end{eqnarray*}</p>
            <p>Thus $\beta = \frac{1}{2}$.</p>
        </li>
    </ol>
</div>
<!--
<div class="question">
<div class="q">
<h5><strong>Question 2:</strong> QQQ
    <ol type="a">
        <li></li>
    </ol>
</h5>
</div>
    <ol type="a">
        <li>
            <p></p>
        </li>
    </ol>
</div>
-->
<!--
    <p>\begin{eqnarray*}
    m_f &=& V \rho - m_p \\
    &=& \frac{4}{3}\pi r^3 \rho - m_p \\
    &=& \frac{4}{3} \pi (7.5\, \mathrm{m})^3 \times 1.16\, \mathrm{kg/m}^3 - 500\,\mathrm{kg} \\
    &=& 1550 \,\mathrm{kg}
    \end{eqnarray*}</p>
    -->