<h2>Part A</h2>
<hr />
<div class="question">
    <div class="q">
        <h5><strong>Question 1:</strong></h5>
        <h5>
            <ol type="a">
                <li>Give a statement of the second law of thermodynamics that applies to an isolated system. What is the condition for equilibrium in such as system?</li>
                <li>Consider an isolated system that consists of two subsystems of fixed particle number and volume that can exchange energy as heat. Derive a condition for equilibrium in terms of the entropy and internal energy of the subsystems. Describe how this condition relates to temperature.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>Entropy can not decrease. At all. In any way. No matter what. Not even if you say please.</p>
            <p>Equilibrium therefore has to be at maximal entropy: $dS = 0$.</p>
        </li>
        <li>
            <p>In terms of energy, all we need to do is conserve it: $\Delta U_A = - \Delta U_B$.</p>
            <p>In terms of entropy, when need to maximise it (holding $V$ and $N$ constant). Note that the second step is just the chain rule, and that $dU_A = - dU_B$ (shown above)</p>
            <p>\begin{eqnarray*}
                dS = dS_A + dS_B &=& 0 \\
                \left(\frac{\partial S_A}{\partial U_A}\right)_{V,N} d U_A + \left(\frac{\partial S_B}{\partial U_B}\right)_{V,N} d U_B &=& 0 \\
                \left(\frac{\partial S_A}{\partial U_A}\right)_{V,N} d U_A &=& \left(\frac{\partial S_B}{\partial U_B}\right)_{V,N} d U_A \\
                \left(\frac{\partial S_A}{\partial U_A}\right)_{V,N} &=& \left(\frac{\partial S_B}{\partial U_B}\right)_{V,N}
                \end{eqnarray*}</p>
            <p>We can see how this relates to temperature when as temperature is defined as the "thing" which is the same when the objects are in thermal equilibrium (condition for such is directly above). Currently, the the units for the slopes above are (J/K)/J = 1/K, so let us propose to define temperature as $\frac{1}{T} = \left(\frac{dS}{dU}\right)_{V,N}$.</p>
        </li>
    </ol>
</div>


<div class="question">
    <div class="q">
        <h5><strong>Question 2:</strong> A meteorite with mass 1000kg, consisting largely of an iron-nickel alloy called Kamacite, enters the Earth's atmosphere at a very large velocity. The work the meteorite does against the frictional forces of the atmosphere is converted into heat, which causes the surface of the meteorite to increase in temperature and vaporize. A meteorite of this size will burn up entirely in the upper atmosphere (about 80km above Earth's surface), where the average temperature is -85 degrees.</h5>
        <h5><ol type="a">
            <li>By calculating the energy lost by the meteorite in this processed (called 'abalation') determine a minimum bound for its initial velocity. Assume the average temperature of vaporisation to be 2500 K.</li>
            <li>Assuming that all the energy of the 1000kg meteorite goes into the upper mesosphere, calculate the change in entropy of the mesosphere.</li>
        </ol></h5>
    </div>
    <p>The thermodynamic data is in the original exam btw. You can either open it up, or look at the math below and see what I sub in.</p>
    <ol type="a">
        <li>
            <p>Right, so let's just use standard KE, turn it into heat, and that should be it. We'll have to assume it starts as a solid at -85 degrees.</p>
            <p>\begin{eqnarray*}
                KE &=& Q \\
                \frac{1}{2} m v^2 &=& m(\Delta T_1 c_P(s) + \Delta T_2 c_P(l) + \Delta_f h + \Delta_v h) \\
                v &=& \sqrt{2 (\Delta T_1 c_P(s) + \Delta T_2 c_P(l) + \Delta_f h + \Delta_v h)} \\
                v &=& \sqrt{2 \left((1592 \;\mathrm{K}) \cdot (690 \;\mathrm{J/kg/K}) + (2500 - 1780 \;\mathrm{K})\cdot (670\;\mathrm{J/kg/K}) + (2.7\times10^5 \;\mathrm{J/kg}) + (6.42\times10^6 \;\mathrm{J/kg})\right)} \\
                v &=& 4067 \;\mathrm{m/s}
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>So we will treat the mesosphere as a reservoir. Instead of going through that awful heat equation then, I'll just use the KE, as I know they are equal. This way I can just use <code>ans</code> on my calculator as well, so why on earth would I do anything different?</p>
            <p>\begin{eqnarray*}
                \Delta S &=& \frac{Q}{T} \\
                &=& \frac{mv^2}{2T} \\
                &=& \frac{(1000\;\mathrm{kg})\cdot(4067\;\mathrm{m/s})^2}{2\cdot (273-85)} \\
                &=& 44 \;\mathrm{MJ/K}
                \end{eqnarray*}</p>
        </li>
    </ol>
</div>

<div class="question">
    <div class="q">
        <h5><strong>Question 3:</strong> Yay maths.</h5>
        <h5>
            <ol type="a">
                <li>Starting from the fundamental equation of thermodynamics and using a Maxwell relation, derive the following expression for the internal pressure $\pi_T$: $$\pi_T \equiv \left(\frac{\partial U}{\partial V}\right)_T = T\left(\frac{\partial P}{\partial T}\right)_V - P$$</li>
                <li>Evaluate this quantity for a Van der Waals gas (giving a result in terms of the van der Waals parameters $a$, $b$ and the molar volume) and give a physical explanation of your results.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>Right, so let's start with the identity, then play around a bit yeah. Also, screw chemical potential, throw it out the window! Btw, the Maxwell relation is going to be $\left(\frac{\partial P}{\partial T}\right)_V = \left(\frac{\partial S}{\partial V}\right)_V$.</p>
            <p>\begin{eqnarray*}
                dU &=& T dS - P dV \\
                \left(\frac{\partial U}{\partial V}\right)_T &=& T \left(\frac{\partial S}{\partial V}\right)_V - P \\
                &=& T \left(\frac{\partial P}{\partial T}\right)_V - P
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>For a van der Waals gas we have that $P = \frac{nRT}{V-nb} - a \frac{n^2}{V^2}$</p>
            <p>\begin{eqnarray*}
                \pi_T &=& T\left(\frac{\partial P}{\partial T}\right)_V - P \\
                &=& T \frac{nR}{V-nb} - \left(\frac{nRT}{V-nb} - a \frac{n^2}{V^2}\right) \\
                &=& a \frac{n^2}{V^2}
                \end{eqnarray*}</p>
            <p>This differs from an ideal gas in that temperature is not the the only determination of total internal energy. The intermolecular forces in a van der Waals gas adds potential energy to the system, that will increase as the system expands.</p>
        </li>
    </ol>
</div>

<div class="question">
    <div class="q">
        <h5>
            <strong>Question 4:</strong> Consider a system consisting of one mole of diatomic ideal gas undergoing a Stirling cycle. The Stirling cycle is similar to a Carnot cycle, but with isochores instead of adiabats. ie the four segments are
            <ol>
                <li>isothermal expansion at temperature $T_h$.</li>
                <li>ischoric cooling at volume $V_{\text{max}}$.</li>
                <li>isothermal contraction at temperature $T_c$.</li>
                <li>ischoric heating at volume $V_{\text{min}}$</li>
            </ol>
            <ol type="a">
                <li>Sketch a qualitatively accurate PV diagram for this process. On the diagram, or in a table, indicate whether the heat and work during each of the four segments is positive, negative or zero.</li>
                <li>Assume that the cycle is operating between only two reservoirs, at temperatures $T_h$ and $T_c$ respectively. Along which segments is new entropy created? Explain why this entropy creation makes this Stirling cycle less efficient than a Carnot cycle operating between the same two reservoirs.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>Right, so the diagram looks like that conveniently photoshopped up below.</p>
            <img src="images/2012pv.png">
            <ol>
                <li>As P is positive, V is positive, Work is negative. To keep same temp, we need same internal energy, which means positive Q.</li>
                <li>As no volume change, no work is done. But as pressure drops, temperature must drop, so Q is negative.</li>
                <li>Negative volume, so positive work, and negative Q (opposite to step 1).</li>
                <li>No volume change, so no work. Pressure increase, so Q is positive.</li>
            </ol>
        </li>
        <li>
            <p>Right, so dealing with entropy now</p>
            <ol>
                <li>No entropy. The entropy lost by the hot reservoir is the same as the entropy gained by the system, as they are at the same temperature.</li>
                <li>Entropy going into cold reservoir is greater than the entropy leaving the object. INCREASE IN ENTROPY.</li>
                <li>Again, heat flowing at same temperature, so no new entropy from heat.</li>
                <li>Heat flow at different temperature, increase in entropy.</li>
            </ol>
            <p>Anyway, this entropy makes everything less efficient as you cannot extract useful work out of it - you must dump some energy to the cold reservoir to get rid of the entropy.</p>
        </li>
    </ol>
</div>



<h2>Part B</h2>
<hr />

<div class="question">
    <div class="q">
        <h5>
            <strong>Question 5:</strong> Consider a fuel cell that uses methane ("natural gas") as fuel. The chemical reaction is $CH_4 + 2O_2 \rightarrow 2H_2O + CO_2$
            <ol type="a">
                <li>Use the attached table of thermodynamic data to calculate the enthalpy change and change in Gibbs free energy for this reaction at room temperature and pressure.</li>
                <li>Assuming ideal performance of the fuel cell, how much electrical work can one get out of the fuel cell for each mole of methane fuel?</li>
                <li>Assume that 8 electrons are transferred at each electrode of the fuel cell. What is the maximum voltage of the fuel cell?</li>
                <li>Calculate the entropy change associated with the chemical reaction.</li>
                <li>Is your answer from (d) negative? Is your answer consistent with the second law of thermodynamics?</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>Right, so we'll just subtract values.</p>
            <p>\begin{eqnarray*}
                \Delta_g CH_4 &=& -50.72 \;\mathrm{kJ/mol} \\
                \Delta_g O_2 &=& 0 \;\mathrm{kJ/mol} \\
                \Delta_g H_2O &=& -228.57 \;\mathrm{kJ/mol} \\
                \Delta_g CO_2 &=& -394.36 \;\mathrm{kJ/mol} \\
                \end{eqnarray*}</p>
            <p>\begin{eqnarray*}
                \Delta G &=& \left(  -394.36 - 2\cdot228.57 + 50.72 \right) \;\mathrm{kJ/mol} \\
                &=& -800.78 \;\mathrm{kJ/mol}
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>Given that the Gibbs free energy change for the reaction decreases by 800 kJ per mol, we can thus harness that 800 kJ per mole and turn it into electric work (as we are assuming ideal performance).</p>
        </li>
        <li>
            <p>This question is weird. If we introduce 8 electrons into every reaction, and assume that all energy output goes into those electrons, we can find the energy per electron simply by finding the energy released by a mole of reactant, and dividing this by 8 times Avogadro's number to figure out the number of electrons. Then we need to convert J to eV to find the voltage.</p>
            <p>\begin{eqnarray*}
                E &=& \frac{\Delta G}{N_e} \\
                &=& \frac{800 780 \;\mathrm{J}}{8\cdot 6.022\times10^{23}} \;\text{J/electron} \\
                &=& \frac{800 780 \;\mathrm{J}}{(8\cdot 6.022\times10^{23} \;\text{electrons})\cdot (1.6\times10^{-19} \;\mathrm{J})} \;\text{V} \\
                &=& 1.04 \;\mathrm{V}
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>Right, so now to just do the same as part (a) but with entropy.</p>
            <p>\begin{eqnarray*}
                \Delta_s CH_4 &=& 186.26 \;\mathrm{J/K/mol} \\
                \Delta_s O_2 &=& 204.14 \;\mathrm{J/K/mol} \\
                \Delta_s H_2O &=& 188.83 \;\mathrm{J/K/mol} \\
                \Delta_s CO_2 &=& 213.74 \;\mathrm{J/K/mol} \\
                \end{eqnarray*}</p>
            <p>\begin{eqnarray*}
                \Delta S &=& \left(  213.74 + 2\cdot188.83 - 186.26 - 2\cdot 204.14 \right) \;\mathrm{J/K/mol} \\
                &=& -3.14 \;\mathrm{J/K/mol}
                \end{eqnarray*}</p>
            <p>So this means entropy decreases in this reaction.</p>
        </li>
        <li>
            <p>Yes, it is negative. So the local entropy of the reaction decreases, but given that the reaction gives off a massive amount of heat, the entropy of the universe still increases.</p>
        </li>
    </ol>
</div>


<div class="question">
    <div class="q">
        <h5><strong>Question 6:</strong> This question considers the thermodynamicso f the normal fluid-superfluid phase transition in liquid $^4He$. The order parameter for this phase transition can be denoted by a complex number $\Psi$, which is related to the quantum mechanical wave function of the helium atoms.
            <ol type="a">
                <li>What are some of the properties of a superfluid that distinguish it from a normal fluid?</li>
                <li>The Ginzburg-Landau form of the Gibbs free energy can be written in the form $$G(T,P,\Psi) = G_n(T,P) + a(T-T_\lambda)\Psi\cdot\Psi^* + b (\Psi\cdot\Psi^*)2$$, where $G_n(T,P)$ denotes the Gibbs free energy of the normal fluid state, $a$ and $b$ are positive constants that are independent of temperature, and $\Psi^*$ denotes the complex conjufate to $\Psi$. Sketch the free energy as a function of the amplitude of $\Psi$ (ie $|\Psi| \equiv \sqrt{\Psi\cdot\Psi^*}$), for temperatures both greater and less than $T_\lambda$.</li>
                <li>Use this Ginzburn-Landau free energy to dervie an expression for the temperature dependence of the order parameter. Evaluate the critical exponent $\beta$, deinfe by $$\left|\Psi(T)\right| ~ (T_\lambda - T)^\beta\;\;\;\;\; T\rightarrow T_\lambda^-$$</li>
                <li>Evaluate and plot the temperature dependence of the heat capacity $C_P(T)$.</li>
                <li>Compare you answer in (d) to the experimental data below. What is the physical origin of the difference?</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>This does not look like a fun question. But as to the properties, one is that there is no viscosity. At all.</p>
        </li>
        <li>
            <p>So, the image on the right is with $T>T_\lambda$. The plot on the right is with $T< T_\lambda$.</p>
            <img class="wide" src="images/gl.png">
        </li>
        <li>
            <p>So again, another question that you spend more time trying to understand what on Earth the question is asking than actually doing the question. After talking to Joel, he said to disregard the rest of this question, as it isn't going to be in the 2014 course.</p>
        </li>
    </ol>
</div>


<div class="question">
    <div class="q">
        <h5><strong>Question 7:</strong> For this question make use of the attached table of thermodynamic data.
            <ol type="a">
                <li>Use the table of data to determine whether crystals of calcite or of aragonite are the thermodynamically stable form of calcium carbonate ($CaCO_3$) at room temperature and ambient pressure.</li>
                <li>On the same graph sketch the Gibbs free energy (at room temperature) of aragonite and calcite as a function of pressure. You may assume that the moral volumes do not vary significantly with pressure.</li>
                <li>Use your graph to estimate the pressure at room temperature at which the relative stability of aragonite and calcite changes.</li>
                <li>At room temperature estimate the slope $\frac{dP}{dT}$ of the phase boundary between aragonite and calcite. Why should the slope of the phase boundary be zero near near absolute zero temperature?</li>
                <li>Summarise your results in a sketch of the aragonite-calcite phase diagram as a function of pressure and temperature.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>So from Schroeder we have</p>
            <table class="table table-striped table-bordered table-hover table-condensed" border="1" style="width:500px; margin: auto; margin-bottom: 20px;">
                <tr>
                    <th>Name</th>
                    <th>$\Delta_H$ (kJ)</th>
                    <th>$\Delta_G$ (kJ)</th>
                    <th>$S$ (J/K)</th>
                    <th>$V$ (cm$^3$)</th>
                </tr>
                <tr>
                    <td>Calcite</td>
                    <td>-1206.9</td>
                    <td>-1128.8</td>
                    <td>92.9</td>
                    <td>36.93</td>
                </tr>
                <tr>
                    <td>Aragonite</td>
                    <td>-1207.1</td>
                    <td>-1127.8</td>
                    <td>88.7</td>
                    <td>34.15</td>
                </tr>
            </table>
            <p>The thermodynamically stable form is the one with the lowest Gibbs free energy, which means at room temperature and pressure this is calcite.</p>
        </li>
        <li>
            <p>So, if we are looking at the Gibbs free energy as a function of pressure, we should look to the thermodynamic identity where only pressure can change: $dG = V dP \rightarrow \frac{dG}{dP} = V$. What this means is that from the starting point at 1atm, we simply plot two lines with gradients dependent on the volume of the substances.</p>
            <img src="images/ac.png">
        </li>
        <li>
            <p>Well let's see. There is 1kJ of difference between them at room temperature. The difference in their volumes is about 2.8 cm$^3$ (per mole of course). Knowing $dG = P dV$, $P = \frac{\Delta G}{\Delta V} = \frac{1000}{2.78\times10^{-6} \;\mathrm{m}^3} = 3550 \;\mathrm{atm}$.
        </li>
        <li>
            <p>Phase boundary occurs when $\Delta G = 0$, such that $G_1 = G_2$. Given that we can write $G$ in terms of $G_0 + dG$, we can say that</p>
            <p>\begin{eqnarray*}
                G_1 &=& G_2 \\
                G_{01} + dG_1 &=& G_{02} + dG_2 \\
                G_{01} + V_1 dP - S_1 dT &=& G_{02} +  V_2 dP - S_2 dT \\
                (V_1 - V_2) dP &=& (G_{02}-G_{01}) + (S_1 - S_2) dT \\
                 \frac{dP}{dT} &=& \frac{(G_{02}-G_{01})}{(V_1 - V_2)dT} + \frac{(S_1 - S_2)}{(V_1 - V_2)} \\
                \end{eqnarray*}</p>
            <p>Assuming the $\frac{(G_{02}-G_{01})}{(V_1 - V_2)dT}$ is not signficiant, this reduces the gradient to </p>
            <p>\begin{eqnarray*}
                \frac{dP}{dT} &=& \frac{(S_1 - S_2)}{(V_1 - V_2)} \\
                &=& \frac{(92.9 - 88.7) \;\mathrm{J/K}}{(36.93 - 34.15) \;\mathrm{m}^3} \\
                &=& 1.51 \;\mathrm{J/K/cm}^3
                \end{eqnarray*}</p>
            <p>This would be zero near absolute zero as the change in entropy between the two phases would be converging to zero as well. We don't see that in the above slope because we assume constant entropy change per kelvin, which doesn't hold near absolute zero.</p>
        </li>
        <li>
            <p>We can plot this as a graph. The slope is given by the previously found value. The pressure of the phase at room temperature is given in (c). From that, we just draw away. I haven't added quantitative values on the plot.</p>
            <img src="images/ac2.png">
        </li>
    </ol>
</div>
<!--
<div class="question">
<div class="q">
<h5><strong>Question 2:</strong> QQQ</h5>
</div>
<p>AAAAAAAAAAAA</p>
</div>
-->
<!--
    <p>\begin{eqnarray*}
    m_f &=& V \rho - m_p \\
    &=& \frac{4}{3}\pi r^3 \rho - m_p \\
    &=& \frac{4}{3} \pi (7.5\, \mathrm{m})^3 \times 1.16\, \mathrm{kg/m}^3 - 500\,\mathrm{kg} \\
    &=& 1550 \,\mathrm{kg}
    \end{eqnarray*}</p>
    -->