<div class="question">
    <div class="q">
        <h5><strong>Question 1:</strong></h5>
        <h5>
            <ol type="a">
                <li>Give a clear and precise statement of the zeroth law of thermodynamics. Use it to explain what temperature is.</li>
                <li>Give a clear, concise and precise statement of the of the first law of thermodynamics. What thermodynamic state function does it allow us to define?</li>
                <li>Provide mechanical and molecular definitions of work and heat. Explain the difference between the change in internal energy and the change in enthalpy accompanying a chemical or physical process.</li>
                <li>Give a version of the second law that is relevant to a system which is in equilibrium with an environment at temperature $T$ and pressure $P$. What state function is convenient to use in this situation?</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>Thermal equilibrium is transitive. Temperature is a value which is the same for all objects in thermal equilibrium.</p>
        </li>
        <li>
            <p>The first law states essentially that energy is conserved. It allows us to define the thermodynamic state function of (internal) energy.</p>
        </li>
        <li>
            <p>For mechanical explanations: work is moving volume against a certain pressure. It is just a reformulation of force times by distance. Mechanically, I don't know how to describe heat. Disordered kinetic energy?</p>
            <p>For molecular explanations: work is energy that is being transferred due to synchronous motion of particles. Heat is the disordered vibration/movement of molecules.</p>
            <p>The difference between internal energy and enthalpy is that enthalpy takes into account any mechanical work against an external pressure.</p>
        </li>
        <li>
            <p>The second law says that the entropy of the universe (or isolated systems) never decreases. But if we are talking constant $T$ and $P$ we are probably talking about the thermodynamic identity of the Gibbs free energy. For something a bit more rigorous, consider the following, where we have made use of the fact the Gibbs free energy decreases in a spontaneous reaction...</p>
            <p>\begin{eqnarray*}
                G &=& H - TS \\
                dG +  T dS &=& dH \\
                \text{As } dG &\le& 0 \\
                T dS &\ge& dH
                \end{eqnarray*}</p>

        </li>
    </ol>
</div>


<div class="question">
    <div class="q">
        <h5><strong>Question 2:</strong>
            <ol type="a">
                <li>Derive the thermodynamic equation of state from the fundamental equation of thermodynamics. Explain the significance of the internal pressure $\pi_T$.</li>
                <li>Derive the general relationship between the Joule-Thomson coefficient $\mu$ and isothermal Joule-Thomson coefficient $\mu_T$.</li>
                <li>Given that the Joule-Thmson coefficient for helium is $\mu = -0.062\;\mathrm{K/atm}$. calculate the energy that must be removed as heat to maintain constant temperature when 20.0 mol of helium flows through a throttle in an isothermal Joule-Thomson experiment and the pressure drop is 100atm.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>So it is asking us to get to $$\pi_T = T\left(\frac{\partial P}{\partial T}\right)_V - P$$ from $$dU = T dS - P dV$$</p>
            <p>Given that $\pi_T = \left(\frac{\partial U}{\partial V}\right)_T$, let us just take the fundamental equation and derive with respect to $V$. We will need to use a Maxwell relation.</p>
            <p>\begin{eqnarray*}
                \left(\frac{\partial U}{\partial V}\right)_T &=& T \left(\frac{\partial S}{\partial V}\right)_T - P \frac{\partial V}{\partial V} \\
                \pi_T &=& T \left(\frac{\partial P}{\partial T}\right)_V - P
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>So, we have from the formula sheet that $\mu = \left(\frac{\partial T}{\partial P}\right)_H$ and $\mu_T = \left(\frac{\partial H}{\partial P}\right)_T$. This isn't an obvious step, but we need to use one of the partial derivative equations</p>
            <p>\begin{eqnarray*}
                \left(\frac{\partial T}{\partial P}\right)_H \left(\frac{\partial P}{\partial H}\right)_T \left(\frac{\partial H}{\partial T}\right)_P &=& -1 \\
                \mu \cdot \frac{1}{\mu_T} \cdot C_{P} &=& -1 \\
                \mu_T &=& - C_P \mu
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>I dislike this question. What we have to realise upfront is that $\Delta H = Q$. You can justify this if you realise that the input to the system is just cooling it (removing heat energy), which is $Q$. The output is the change in the process, which is the change in the enthalpy. These must be equal, or we lose energy somewhere into the magical void. From there what we can do is to find an equation that relates $H$ with $P$, which turns out to be $\left(\frac{\partial H}{\partial P}\right)_T = \mu_T$. From there we can math.</p>
            <p>\begin{eqnarray*}
                \mu_T &=& \left(\frac{\partial H}{\partial P}\right)_T \\
                -C_P \mu &=& \frac{\partial H}{\partial P} \\
                dH &=& -C_P \mu \;dP \\
                \Delta H &=& - C_P \mu \Delta P \\
                Q &=& - \left(nR\frac{f+2}{2}\right) \mu \Delta P \\
                Q &=& - \left((20.0\;\mathrm{mol}) \cdot (8.315 \;\mathrm{J/mol/K}) \frac{5+2}{2}\right) \cdot (-0.062 \;\mathrm{K/atm})\cdot (-100 \;\mathrm{atm}) \\
                Q &=& -3.6 \;\mathrm{kJ}
                \end{eqnarray*}</p>
            <p>Note that I disagree with Joel. he uses $C_V$, and I use $C_P$. Also, it seems he dropped a negative sign. ALso, another way to think about this question would just be to use $\mu$ instead of $\mu_T$. You could then figure out how much the temperature drops itself in the change, and then figure out the energy needed to put it back to its original value.</p>
        </li>
    </ol>
</div>


<div class="question">
    <div class="q">
        <h5><strong>Question 3:</strong> In this question, assume perfect gas behaviour.
            <ol type="a">
                <li>A sample of oxygen gas aof mas 96g at 25C is allowed to expand reversible and adiabatically from 5L to 10L. Calculate i) the heat transferred, ii) the work done, iii) the change in internal energy iv) the change in entropy of the gas</li>
                <li>Consider a system consisting of 3mol $CO_2(g)$ initially at 35C and 9atm and confined to a cylinder of cross sectional area 100 cm squared. The sample is allowed to expand adiabatically against an external pressure of 2.5atm until the piston has moved outwards through 25cm. Assume that for carbon dioxide $C_{vm} = 28.8 \;\mathrm{J/K/mol}$ and calculate i) the heat transferred, ii) the word done by the gas iii) the change in internal energy of the gas.</li>
                <li>For the process in part (b), calculate the total change in entropy (system + surroundings). What is the maximum work that could have been achieved by a reversible process between the same initial and final states?</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <ol type="i">
                <li>The process is adiabatic. $Q = 0$.</li>
                <li>
                    <p>Given $Q=0, \Delta U = W$. So we can either manually work out $W = - \int P dV$ or simply work out $\Delta U$ using the equipartition theorem. The latter method is easier, so I'll do that one first. Note that $\frac{1}{c} = \frac{R}{C_{vm}} = {2}{f}$</p>
                    <p>\begin{eqnarray*}
                        W &=& \Delta U \\
                        &=& \frac{f}{2} nR \Delta T \\
                        &=& \frac{f}{2}nR \left[ T_f - T_i \right] \\
                        &=& \frac{f}{2}nR \left[ T_i \left(\frac{V_i}{V_f}\right)^{1/c} - T_i \right]  \\
                        &=& \frac{f}{2}nR T_i \left[ \left(\frac{V_i}{V_f}\right)^{2/f} - 1 \right]  \\
                        &=& \frac{5}{2} \cdot \left( \frac{96}{32} \;\mathrm{mol} \right) \cdot (8.315 \;\mathrm{J/K/mol}) \cdot (273+25 \;\mathrm{K}) \left[ 0.5^{2/5} - 1 \right]  \\
                        &=& -4.5 \;\mathrm{kJ}
                        \end{eqnarray*}</p>
                    <p>To do it the other way by integrating the volume change, we will need to use the other adiabatic formula. Also note that $\gamma = \frac{f+2}{f}, \gamma - 1 = \frac{2}{f}$.</p>
                    <p>\begin{eqnarray*}
                        W &=& - \int P dV \\
                        &=& - P_i V_i^\gamma \int V_f^{-\gamma} dV \\
                        &=& - \frac{nRT_i}{V_i} V_i^\gamma \frac{1}{1-\gamma} \left[ V_f^{1-\gamma} - V_i^{1 - \gamma} \right] \\
                        &=& - \frac{nRT_i}{1-\gamma} V_i^{\gamma -1} \left[ V_f^{1-\gamma} - V_i^{1 - \gamma} \right] \\
                        &=& - \frac{nRT_i}{1-\gamma} \left[ \left(\frac{V_i}{V_f}\right)^{\gamma - 1} - 1 \right] \\
                        &=& \frac{fnRT_i}{2} \left[ \left(\frac{V_i}{V_f}\right)^{2/f} - 1 \right] \\
                        &=& -4.5 \;\mathrm{kJ}
                        \end{eqnarray*}</p>
                </li>
                <li>Work is equal to change in internal energy.</li>
                <li>It is adiabatic and reversible. $\Delta S = 0$.</li>
            </ol>
        </li>
        <li>
            <p>Right, so now looking at $CO_2$.</p>
            <ol type="i">
                <li>It is quasistatic (so we assume) and adiabatic, so $Q = 0$.</li>
                <li>
                    <p>Work is against constant pressure.</p>
                    <p>\begin{eqnarray*}
                        W &=& - PV \\
                        &=& - (2.5\cdot 101325 \;\mathrm{Pa}) \cdot \left(\frac{100\cdot 25}{100^3} \;\mathrm{m}^3 \right) \\
                        &=& -633.3 \;\mathrm{J}
                        \end{eqnarray*}</p>
                </li>
                <li>Change in internal energy is the same as above.</li>
            </ol>
        </li>
        <li>
            <p>So, changing the entropy huh. Now, although (b) was an adiabatic process, due to the pressure difference from the internal and external pressure, it is <strong>not</strong> quasistatic, so $\Delta S \ne 0$.</p>
            <p>To find the change in entropy, we are going to need to find the final temperature and volume.</p>
            <p>\begin{eqnarray*}
                T_f &=& T_i + \Delta T \\
                &=& T_i + \frac{2\Delta U}{fnR}
                \end{eqnarray*}</p>
            <p>For the initial volume, we use IDL:</p>
            <p>\begin{eqnarray*}
                V_i &=& \frac{nRT}{P}
                \end{eqnarray*}</p>
            <p>For the final volume, we add on the expansion</p>
            <p>\begin{eqnarray*}
                V_f &=& V_i + Ah
                V_f &=& \frac{nRT}{P} + Ah
                \end{eqnarray*}</p>
            <p>Now to actually look at the entropy, we start with the thermodynamic identity</p>
            <p>\begin{eqnarray*}
                dU &=& T dS - P dV \\
                dS &=& \frac{dU}{T} + \frac{P}{T} dV \\
                dS &=& \frac{nRf dT}{2 T} + nR \frac{dV}{V} \\
                \Delta S &=& nR \left[ \frac{f}{2} \ln \frac{T_f}{T_i} + \ln \frac{V_f}{V_i} \right] \\
                \Delta S &=& nR \left[ \frac{f}{2} \ln \frac{T_i + \frac{2\Delta U}{fnR}}{T_i} + \ln \frac{\frac{nRT}{P} + Ah}{\frac{nRT}{P}} \right] \\
                &=& 4.39 \;\mathrm{J/K}
                \end{eqnarray*}</p>
            <p>To extract the maximum work, a reversible process means that the $TdS$ created can be turned back into work. The formula for this is $dS = \frac{Q}{T}$. To maximise the work, we maximise the temperature to be the greatest in the process. Why this is allowed, given that $T$ is not constant, I don't know. But essentially we have $T\Delta S = Q$, so we find that $Q = (273+35\;\mathrm{K})\cdot (4.39 \;\mathrm{J/K}) = 1352 \;\mathrm{J}$.</p>
        </li>
    </ol>
</div>


<div class="question">
    <div class="q">
        <h5><strong>Question 4:</strong> For this question make use of the attached table of thermodynamic data.
            <ol type="a">
                <li>Use the table of data to determine whether crystals of graphite or crystals of diamond are the thermodynamically stable form of carbon at room temperature and ambient pressure.</li>
                <li>On the same graph sketch the Gibbs free energy of diamond and graphite as a function of pressure. Use your graph to estimate the pressure at room temperature at which the relative stability of diamond and graphite changes.</li>
                <li>At room temperature, estimate the slope $\frac{dP}{dT}$ of the phase boundary between diamond and graphite. Why should the slope of the phase boundary be zero near absolute zero temperature?</li>
                <li>Summarise your results in a sketch of the diamond-graphite phase diagram as a function of pressure and temperature. Explain why your diagram does not have a critical point.</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>The data from Schroeder gives</p>
            <table class="table table-striped table-bordered table-hover table-condensed" border="1" style="width:500px; margin: auto; margin-bottom: 20px;">
                <tr>
                    <th>Name</th>
                    <th>$\Delta_H$ (kJ)</th>
                    <th>$\Delta_G$ (kJ)</th>
                    <th>$S$ (J/K)</th>
                    <th>$V$ (cm$^3$)</th>
                </tr>
                <tr>
                    <td>Diamond</td>
                    <td>1.895</td>
                    <td>2.9</td>
                    <td>2.38</td>
                    <td>3.42</td>
                </tr>
                <tr>
                    <td>Graphite</td>
                    <td>0</td>
                    <td>0</td>
                    <td>5.74</td>
                    <td>5.30</td>
                </tr>
            </table>
            <p>As graphite has the lowest Gibbs free energy, it is the most stable (at this pressure and temperature).</p>
        </li>
        <li>
            <p>We know that $dG = - S dT + V dP$. As the volume of graphite is higher than that diamond, its Gibbs free energy will rise faster than diamonds, and so diamond will eventually be more stable.</p>
            <img src="images/diamond.png" style="width:450px;">
            <p>Screw estimating the crossover, work it out.</p>
            <p>\begin{eqnarray*}
                G_1 + \Delta G_1 &=& G_2+ \Delta G_2 \\
                (2900\;\mathrm{J}) + (3.42 \;\mathrm{cm}^3)\cdot P &=& (5.30 \;\mathrm{cm}^3)\cdot P \\
                P &=& \frac{2900 \;\mathrm{J}}{5.30-3.42 \times 10^{-6} \;\mathrm{m}^3} \\
                P &=& 15.2 \;\mathrm{katm}
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>Whilst we could use the identity from above and go from there, let's just use the Clausius-Clapeyron relation</p>
            <p>\begin{eqnarray*}
                \frac{dP}{dT} &=& \frac{\Delta S}{\Delta V} \\
                &=& \frac{2.38 - 5.74 \;\mathrm{J/K}}{3.42 - 5.30 \;\mathrm{cm}^3} \\
                &=& 1.79 \;\mathrm{J/K/cm^3} \\
                &=& 17.6 \;\mathrm{atm/K}
                \end{eqnarray*}</p>
            <p>Well, by the third law, we know that as $T\rightarrow 0$, $S \rightarrow 0$. Thus, we must also have $\Delta S \rightarrow 0$ as $T\rightarrow 0$, and hence the gradient will become zero (assuming constant $\Delta V$).</p>
        </li>
    </ol>
</div>

<div class="question">
    <div class="q">
        <h5><strong>Question 5:</strong> Upon solution in water, sulphuric acid, $H_2SO_4$ readily dissociates into $H^+$ and $HSO_4^-$ ions. They can dissociate again as well. The equilibrium constants for these two reactions are $10^2$ and $10^{-1.9}$ respectively.
            <ol type="a">
                <li>Argue that the first reaction tends so strongly to the right that we might as well consider it to have gone to completion, in any solution that could possibly be considered dilute. At what pH values would a significant fraction of the sulfuric acid not be dissociated?</li>
                <li>In industralized regions where lots of coal is burned, the concentration of sulfate in rainwater is typically $5\times10^{-5}\;\mathrm{mol/kg}$. The sulfate can take any of the chemical forms mentioned above. Show that, at this concentration, the second reaction will also have gone essential to completion, so all the sulfate is in the form of $SO_4$. What is the pH of this rainwater?</li>
                <li>Explain why you neglect the dissociation of water into ions in answering the previous question?</li>
                <li>At what pH would dissolved sulfate be equally distributed between $HSO_4$ and $SO_4$?</li>
            </ol>
        </h5>
    </div>
    <ol type="a">
        <li>
            <p>No idea how to do this question.</p>
        </li>
    </ol>
</div>


<div class="question">
    <div class="q">
        <h5><strong>Question 6:</strong> The van der Waals equation of state for a gas is $$\left(P + \frac{aN^2}{V^2}\right)(V-Nb) = Nk_B T$$
            <ol type="i">
                <li>Give a simple and brief explanation of the physical origin of the term involving the empirical constant $b$. Give a rough estimate of $b$ for oxygen.</li>
                <li>Sketch the thermodynamically stable isotherms of pressure versus volume for the van der Waals equation.</li>
                <li>On your sketch, clearly denote the critical pressure, critical volume and which regions correspond to gas, liquid and gas-liquid mixtures.</li>
                <li>The critical pressure $P_c$, critical volume $V_c$ and critical temperature $T_c$ are given by $$P_c = \frac{a}{27b^2},\;\;\;V_c = 3Nb,\;\;\;kT_c = \frac{8a}{27b}$$ Close to the critical point it can be shown that the equation of state becomes $$\frac{P}{P_c} = \frac{4T}{T_c} - 3 + 6\left(1-\frac{T}{T_c}\right)\left(\frac{V}{V_c}-1\right) - \frac{3}{2}\left(\frac{V}{V_c} -1\right)^3$$ Apply the Maxwell construction to evaluate the vapour pressure as a function of temperature.</li>
                <li>Using the results from (iv) evaluate the temperature dependence of the order parameter. What is the value of the critical exponent $\beta$ associated with the temperature dependence of the order parameter?</li>
            </ol>
        </h5>
    </div>
    <ol type="i">
        <li>
            <p>The physical origin of $b$ is an indication of molecular volume. It is in units of cubic meters per mol, so to estimate $b$ for oxygen we would find the molecular volume and multiple it by Avogadro's number.</p>
        </li>
        <li>
            <p>So let us just rewrite the equation so we can get $P$ <a href="https://www.youtube.com/watch?v=o22i_gqAf_o">all by itself.</a></p>
            <p>\begin{eqnarray*}
                \left(P + \frac{aN^2}{V^2}\right)(V-Nb) &=& Nk_B T \\
                \left(P + \frac{aN^2}{V^2}\right) &=& \frac{Nk_B T}{(V-Nb)} \\
                P &=& \frac{Nk_B T}{(V-Nb)} - \frac{aN^2}{V^2}
                \end{eqnarray*}</p>
            <p>So what we can get from this is that we have a function that looks like $y = \frac{1}{x}$ centered around $Nb$, and one function which is highly negative around $V = 0$ and the increases up to zero. At high temperatures, the latter function can be ignored, as the former function is much more significant. But for low temperatures, because the strength of the first function has been decreased, the latter function will pull the area of the graph between $V=0$ and $V=Nb$ down due to how negative it is. However, we will see an odd function around the critical point due to the first term approaching infinitiy are $V\rightarrow Nb$. No, I've taken this image off the internets, but it shows all the relevant points. The negative pull before $V_c$, the odd function around the critical point, etc, etc.</p>
            <img style="width:450px" src="images/van.png">
        </li>
        <li>
            <p>Gas will be on the upper right. The dashed envelope corresponds to a liquid-gas mixture, and on the very left under the isotherm will be the liquid phase. I am not quite sure why though.</p>
        </li>
        <li>
            <p>If we look at the function given to us, we can see it is cubic around the point $\frac{V}{V_c} = 1$, which means it is an odd area graph.  Thus, equal area on either side occurs obviously at the point of symmetry, which <strong>is</strong> the $\frac{V}{V_c} = 1$ point. Now, at that point, the equation actually becomes $$\frac{P}{P_c} = \frac{4T}{T_c} - 3$$</p>
            <p>We can go further however, as we are given values for $T_c$ and $P_c$.</p>
            <p>\begin{eqnarray*}
                P &=& \left(\frac{4T}{T_c} - 3\right)P_c \\
                &=& \left(\frac{4kT(27b)}{8a} - 3\right)\frac{a}{27b^2} \\
                &=&\frac{kT}{2b} - \frac{a}{9b^2}
                \end{eqnarray*}</p>
        </li>
        <li>
            <p>What is the order parameter? It would either be $P$, $T$ or $V$, they would all work. I am guessing $P$ is a valid order parameter, and we can see from above the its dependence on $T$ is linear, so $\beta=1$. But surely that is too simple.</p>
        </li>
    </ol>
</div>

<!--
<div class="question">
<div class="q">
<h5><strong>Question 2:</strong> QQQ
    <ol type="a">
        <li></li>
    </ol>
</h5>
</div>
    <ol type="a">
        <li>
            <p></p>
        </li>
    </ol>
</div>
-->
<!--
    <p>\begin{eqnarray*}
    m_f &=& V \rho - m_p \\
    &=& \frac{4}{3}\pi r^3 \rho - m_p \\
    &=& \frac{4}{3} \pi (7.5\, \mathrm{m})^3 \times 1.16\, \mathrm{kg/m}^3 - 500\,\mathrm{kg} \\
    &=& 1550 \,\mathrm{kg}
    \end{eqnarray*}</p>
    -->