<h2>Tutorial Content</h2>
<hr />
<div class="question">
    <h5 class="question"><strong>S1.27)</strong> Give an example of a process in which no heat is added to a system, but its temperature increases. Then give an example of the opposite: a process in which heat is added to a system but its temperature does not change.</h5>
    <p>For the first one, compressing a gas. Thinking pumping a tire: it gets hot. And then I would say.... expanding a gas... it gets cold. Spooky.</p>
</div>
<!--<p>\begin{eqnarray*}
    m_f &=& V \rho - m_p \\
    &=& \frac{4}{3}\pi r^3 \rho - m_p \\
    &=& \frac{4}{3} \pi (7.5\, \mathrm{m})^3 \times 1.16\, \mathrm{kg/m}^3 - 500\,\mathrm{kg} \\
    &=& 1550 \,\mathrm{kg}
    \end{eqnarray*}</p>-->

<!--\[ \frac{-b\pm\sqrt{b^2-4ac}}{2a} \]-->